
@{
    ViewBag.Title = "Confirmation";
    Layout = "_Layout";
}

<h2>Your Film has been recorded! You have great taste.</h2>
<a asp-area="" asp-controller="Home" asp-action="EnterMovie" style="display: inline-block; padding: 10px 20px; background-color: darkslategray; color: white; border-radius: 5px;">
    Go Back
</a>
