@model Movie

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Enter a Movie into the collection</h1>
<div>
    <form method="post">
        <input type="hidden"/>
        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (Category cat in ViewBag.Categories)
            {
                <option value="@cat.CategoryId">@cat.CategoryName</option>
            }
        </select> <br/><br/>
        <label asp-for="Title">Title</label>
        <input asp-for="Title" type="text" placeholder="Title" required><br/><br/>
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" type="number" min="1888" required/><br/><br/>
        <label asp-for="Director">Director</label>
        <input asp-for="Director" type="text" placeholder="Director"><br/><br/>
        <label asp-for="Rating">Rating</label>
        <select asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select><br/><br/>
        <label asp-for="Edited">Edited</label>
        <select asp-for="Edited">
            <option value="false">No</option>
            <option value="true">Yes</option>
        </select><br/><br/>
        <label asp-for="CopiedToPlex" required>Copied to Plex</label>
        <select asp-for="CopiedToPlex">
            <option value="false">No</option>
            <option value="true">Yes</option>
        </select><br/><br/>
        <label asp-for="LentTo">Lend to:</label>
        <input asp-for="LentTo" type="text" placeholder="Lend to:"><br/><br/>
        <label asp-for="Notes">Notes</label>
        <input asp-for="Notes" type="text" placeholder="50 characters max." maxlength="50">
        <br/><br/>

        <button type="submit">Submit Film</button>

    </form>
</div>
