@{
    ViewData["Title"] = "Meet Joel";
}
<h1>@ViewData["Title"]</h1>
<div>
    <p>Joel Hilton is a film fanatic. He minored in Film Studies at BYU, contracts as a movie reviewer for
        ClearPlay, and does a weekly podcast about films & pop culture called Baconsale. </p>

    <a href="https://www.qwcomedy.com/" style="display: inline-block; padding: 10px 20px; background-color: darkslategray; color: white;  border-radius: 5px;">
        Quick Wits Comedy
    </a>
    <a href="https://baconsale.com/" style="display: inline-block; padding: 10px 20px; background-color: darkslategray; color: white; border-radius: 5px;">
        Baconsale
    </a>
</div>
<img style="height: 400px; padding-top: 20px" src="/img/BaconsaleKate.jpg" href="https://baconsale.com/" alt="Baconsale with Kate"/>
